<style>
	* {
		margin: 0;
		padding: 0;
	}
	body {
		background-color: #E6E6E6; 
		width: 1200px;
		margin: 0 auto;
	}
	ul {
		margin-left: -40px;
		margin-top: -16px;
		margin-bottom: -16px;
		list-style: none;
	}

	div > ul {
		overflow: hidden;
		width: 1230px;
		height: 400px;
	}
	h1 { margin-top: 0; margin-bottom: 0; }
	h2 { margin-top: 0; margin-bottom: 0; }
	h5 { margin-top: 0; margin-bottom: 0; }
	#title { 
		margin-left: 320px;
		padding-top: 50px;
		padding-bottom: 60px;
		font-family: 'Montserrat', sans-serif;
		font-size: 50pt;
	 }
	.content {
		float: left;
		width: 380px;
		height: 380px;
		background-color: #FFFFFF;
		border: 10px solid #E6E6E6;
	}
	#content-main {
		overflow: hidden;
		margin-top: 15px;
		font-family: 'Gothic A1', sans-serif;
	}
	#content-side{
		font-family: 'Gothic A1', sans-serif;
	}
	#content-main > section {
		float: left;
		width: 780px;
		background-color: #FFFFFF;
		border: 10px solid #E6E6E6;
	}
	#content-main > aside {
		float: right;
		width: 380px;
		height: 380px;
		background-color: #FFFFFF;
		border: 10px solid #E6E6E6;

	}
	.image-section {
		width: 380px;
		height: 240px;
	}
	.side-image{
		width: 380px;
		height:220px;
		margin-top: 20px;
	}
	.title-section{
		width: 380px;
		height: 43px;
		line-height: 43px;
		text-align: center;
		position: relative;
		padding-top: 22px;
	}
	.readmore-section{
		width: 380px;
		height: 75px;
		text-align: center;
		position: relative;
	}
	.readmore-box {
		display: block;
		width: 100px;
		height: 35px;
		line-height: 35px;
		color: #7B7B7B;
		font-size: 10pt;
		border: 1px solid #7B7B7B;
		position: absolute;
		left: 140px;
		bottom: 25px;
	}
	aside > div {
		text-align: center;
	}
	.profile-image-section {
		width: 380px;
		height: 185px;
	}
	.profile-name-section {
		width: 380px;
		height: 70px;
		line-height: 70px;
	}
	.profile-text-section {
		width: 380px;
		height: 50px;
		color: #7B7B7B;
	}
	#profile-photo {
		padding-top: 35px;
		width: 150px;
		height: 150px;
	}
	
	/*input {display: none;}*/
	input:nth-of-type(1) { display: none; }
	input:nth-of-type(1) ~ article:nth-of-type(1) { display: none; }
	input:nth-of-type(1):checked ~ article:nth-of-type(1){ display: block; }


	input:nth-of-type(2) { display: none; }
	input:nth-of-type(2) ~ article:nth-of-type(2) { display: none; }
	input:nth-of-type(2):checked ~ article:nth-of-type(2){ display: block; }


	input:nth-of-type(3) { display: none; }
	input:nth-of-type(3) ~ article:nth-of-type(3) { display: none; }
	input:nth-of-type(3):checked ~ article:nth-of-type(3){ display: block;}

	input:nth-of-type(4) { display: none; }
	input:nth-of-type(4) ~ article:nth-of-type(4) { display: none; }
	input:nth-of-type(4):checked ~ article:nth-of-type(4){ display: block; }


	.readmore-section label:hover {
		border: 2px solid #7B7B7B;
		color: black;
	}
	.article-date{
		text-align: center;
		padding: 60px 0 40px 0;
		font-size: 11pt;
		color: #7B7B7B;
	}
	.article-title{
		text-align: center;
		font-size: 30pt;

	}
	.article-content{
		padding: 30px 40px 140px 40px;
		color: #7B7B7B;
		line-height: 30px;
		overflow: hidden;
	}
	.article-gotoTop{ 
		position: relative;
		text-align: center;
		line-height: 20px;
	}
	.TopButton {
		text-decoration: none;
		display: block;
		width: 100px;
		height: 35px;
		line-height: 35px;
		color: #7B7B7B;
		font-size: 10pt;
		border: 1px solid #7B7B7B;
		position: absolute;
		left: 338px;
		bottom: 50px;
	}
	.TopButton:hover {
		border: 2px solid #7B7B7B;
		color: black;
	}
	p { color: #000000; }
	#article-intro {
		padding-left: 215px;
	}
	.article-content label {
		color: #FF6485;
		font-weight: bold;
	}
	.article-content label:hover {
		color: purple;
		font-weight: bold;
	}
	.article-image {
		padding-top: 40px;
		width: 780px;
	}
</style>